<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section class="logo-input">
            <img src="/img/logo-mercado-liebre.svg" alt="logo">
            <div class="input-icon">
                <input type="text" placeholder="Buscar productos o marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="comprar-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá a cuotas y sin tarjeta de credito</p>
        </section>
        <div class="menu">
            <ul class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class="lista">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i> </a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <main>
        <section class="banner">
            <img src="img/img-home-banner.jpg" alt="">
        </section>
        <!-- ultima visita -->
        <section class="articulos">
            <b class="titulares">Basado en tu última visita</b>
            <div class="all-articulos1">
                <article class="section_item">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p>Cafetera Moulinex</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p>MacBook Pro 2019</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p>Samsung Galaxy S10</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <p>SmartTv Samsung 43"</p>
                </article>
            </div>
        </section>
        <!-- seccion de ofertas -->
        <section class="articulos">
            <b class="titulares">Ofertas</b>
            <div class="all-articulos2">
                <article class="section_item">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <p>Cafetera Moulinex</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <p>MacBook Pro 2019</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                    </div>
                    <p>Samsung Galaxy S10</p>
                </article>
                <article class="section_item">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="">
                    <div class="car"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-pp">
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% OFF</p>
                    </div>
                    <p>SmartTv Samsung 43"</p>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="info-footer">
            <article class="pago-tarjeta">
                <div class="card">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <b class="titulares-footer">Pagá con tarjeta o en efectivo</b>
                <p>Con MercadoLibreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>
            <article class="envios">
                <div class="gift">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <b class="titulares-footer">Envío gratis desde los $2.500</b>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="seguridad">
                <div class="security">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <b class="titulares-footer">Seguridad de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
        </section>
        <article class="copyright">
            <p>Copyright &copy; 1999-2022 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>