<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">

    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section class="logo-input">
            <img src="/img/logo-mercado-liebre.svg" alt="logo" class="logo">
            <div class="input-icon">
                <input type="text" placeholder="Buscar productos o marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="comprar-cuotas"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá a cuotas y sin tarjeta de credito</p>
        </section>
        <div class="menu">
            <ul class="lista">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br>
            <ul class="lista">
                <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i> </a></li>
                <li><a href="/login">Ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars"></i>
        </div>
    </header>
    <main class="formulario-login">
        <section class="name input-register">
            <input type="text" placeholder="Nombre de usuario">
        </section>
        <section class="user input-register">
            <input type="text" placeholder="Elegí tu contraseña">
        </section>
        <section class="btn-login">
            <button>Enviar</button>
        </section>
    </main>
    <footer>
        <section class="info-footer">
            <article class="pago-tarjeta">
                <div class="card">
                    <i class="fa-solid fa-credit-card"></i>
                </div>
                <b class="titulares-footer">Pagá con tarjeta o en efectivo</b>
                <p>Con MercadoLibreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago ¡Y siempre es seguro!</p>
            </article>
            <article class="envios">
                <div class="gift">
                    <i class="fa-solid fa-gift"></i>
                </div>
                <b class="titulares-footer">Envío gratis desde los $2.500</b>
                <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article class="seguridad">
                <div class="security">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <b class="titulares-footer">Seguridad de principio a fin</b>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
            </article>
        </section>
        <article class="copyright">
            <p>Copyright &copy; 1999-2022 MercadoLiebre S.R.L.</p>
        </article>
    </footer>
</body>

</html>