main {
    /* background-color: var(--color-gris-claro); */
}

main .articulos {
    padding: 10px;
}

main .articulos .section_item {
    background-color: var(--color-blanco);
    margin-bottom: 8px;
    border: 1px solid #ebebeb;
    padding: 15px;
}

.descuentos {
    font-size: 16px;
    color: #31B54C;
}

.precios {
    font-size: 18px;
}

.titulares {
    font-size: 24px;
}

.car {
    position: relative;
}

.car i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: transform 4s;
}

.car i:hover {
    transform: rotate(360deg);
}

.info-pp {
    display: flex;
    gap: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* tables */

@media screen and (min-width: 769px) {
    main .articulos .section_item {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
        margin: 0 auto;
    }
    .all-articulos1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .all-articulos2 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .titulares {
        margin-left: 20px;
    }
}


/*Desktop*/

@media screen and (min-width: 1024px) {
    main .articulos .section_item {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 20%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .all-articulos1 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .all-articulos2 {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
    .titulares {
        margin-left: 20px;
    }
}