@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259c3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #cdc7c7;
    --color-verde: #39b54a;
    --color-negro: #000;
    --color-blanco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}